html, body {
  margin: 0;
  padding: 0;
}

.blowButton{
  width:140px;
  height: 40px;
  background-color: #80deea;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
